.main-footer {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $secondary;
}

.footer-image {
  height: 6rem;
  width: auto;
}
