.form-group {
  margin-bottom: 1rem;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 0.25rem;
}

form {
  width: 100%;
  max-width: 30rem;
  padding: 1rem;
  margin: auto;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Sign up form */

.form-info {
  height: 50%;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box * {
  text-align: left;
}

.info-icon {
  height: 2rem;
  width: auto;
  margin-right: 1rem;
}

form textarea {
  height: 20rem;
  resize: vertical;
}
