.post-box {
  display: grid;
  gap: 2rem;
}

.post-card {
  display: grid;
  grid-template-rows: 1fr 1fr 3rem;
  border: 0.1rem solid $secondary;
  border-radius: 0.5rem;
  background: #fff;
  overflow: hidden;
}

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: $secondary;
}

.post-title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.post-author {
  font-size: 0.9rem;
  color: #999;
}

.post-content {
  padding: 1rem;
  line-height: 1.5;
}

.post-footer {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-top: 0.1rem solid #eee;
}

.update-post,
.delete-post,
.last-updated {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  padding: 0 1rem;
}
