footer.main-footer
  a(href="https://github.com/kgilla" class="center-content footer-link")
    h2.sub-heading Handcrafted by me, Kgilla.
    img(src="images/pngguru.com.png" class="footer-image" alt="cartoon racoon")
