footer
  footer.main-footer
    img(src="images/pngguru.com.png" class="footer-image" alt="cartoon racoon")
    div.footer-links
      h2.welcome-sub-heading Handcrafted by me, Kgilla.
      a(href="/about") About