footer.main-footer
  h2.welcome-sub-heading Handcrafted by me, Kgilla.
  a(href="https://github.com/kgilla" class="center-content")
    img(src="images/pngguru.com.png" class="footer-image" alt="cartoon racoon")
