footer
  row.main-footer
    h2.welcome-sub-heading Handcrafted by me, Kgilla.
    a(href="https://github.com/kgilla")
      img(src="images/pngguru.com.png" class="footer-image" alt="cartoon racoon")
