head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="description" content="Private message board web application built using Express and Pug/Jade")
  meta(property="og:title" content="Talkin' Trash")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://talkin-trash.herokuapp.com/")
  meta(
      property="og:image"
      content="https://talkin-trash.herokuapp.com/images/screenshots/home.png"
  )
  link(rel='stylesheet' href='/css/main.css')
  link(rel="icon" href="/images/favicon.ico")
  script(src="/jquery/dist/jquery.js")
  script(src="/bootstrap/dist/js/bootstrap.js") 
  title= title