head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/css/main.css')
  link(rel="icon" href="/images/favicon.ico")
  script(src="/jquery/dist/jquery.js")
  script(src="/bootstrap/dist/js/bootstrap.js") 
  title= title