extends layout 

block content 
  div.container.mt-3.mb-5.about-container
    h1.main-heading About Talkin' Trash
    p.about-content Hey there and thanks for stopping by and taking a look! Talkin' Trash is a website I made as a part of the Node.JS section of 
      a(href="https://www.theodinproject.com/") The Odin Project.
    h2.heading.mt-3 Technolgies Used
    p.about-content Talkin' Trash is built using Express and MongoDB to serve the back-end content. The front-end is served server side using the templating language PUG. Passport.JS to protect routes from unauthorized access. The front-end styles are further helped with Bootstrap and SCSS.