doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Talkin' Trash
  body
    nav(class="main-nav")
      div(class="left-links")
        a(href="/" class="main-title") Talkin' Trash         
      div(class="right-links")
        if currentUser
          a(href=currentUser.url class="nav-link") Profile
          a(href="/users/logout" class="nav-link") Logout
        else
          a(href="/users/signup" class="nav-link") Sign Up
          a(href="/users/login" class="nav-link") Log In
    div(class="content")
      block content
  

