extends layout

block content
  form(action="" method="POST" class="form-control")
    h1= title
    div(class="form-group")
      label(for="email") Email
      input(type="text" name="username")
    div(class="form-group")
      label(for="password") Password
      input(type="text" name="password")
    a(href="/users/signup") Not a member yet? Sign Up!
    button(type="submit" class="button") Log In