extends layout

block content
  div.container.h-75.center-content
    form(action="" method="POST" class="login-form")
      h1.title= title
      if error != ""
        p.error= error
      if success != ""
        p.success= success
      div.form-group
        label(for="email") Email
        input(type="text" name="email" class="form-control")
      div.form-group
        label(for="password") Password
        input(type="text" name="password" class="form-control")
      div.form-group  
        button(type="submit" class="btn btn-primary btn-block") Log In
      div.form-group
        small.form-text.text-muted Not a member yet? 
          a(href="/users/signup") Sign Up!  
        