extends layout

block content
  div(class="form-box")
    form(action="" method="POST" class="form-control")
      h1(class="title")= title
      if error != ""
        p(class="error")= error
      if success != ""
        p(class="success")= success
      div(class="form-group")
        label(for="email") Email
        input(type="text" name="email")
      div(class="form-group")
        label(for="password") Password
        input(type="text" name="password")
      div(class="form-group")  
        button(type="submit" class="button") Log In
      div(class="form-group")  
        p(class="not-user") Not a member yet? 
          a(href="/users/signup") Sign Up!  
        