extends layout

block content
  div(class="content")
    div(class="form-box")
      form(action="" method="POST")
        h1(class="title") Password Change
        if errors 
          each error in errors
            p(class="error")= error.msg
        if error
          p(class="error")= error
        div(class="form-group")
          label(for="old_password") Old Password
          input(type="text" name="old_password")
        div(class="form-group")
          label(for="password") New Password
          input(type="text" name="password" placeholder="Password must be at least 6 characters long")
        div(class="form-group")
          label(for="password2") Password Confirmation
          input(type="text" name="password2" placeholder="Confirm password")
        div(class="form-group")  
          button(type="submit" class="button") Change Password