extends layout

block content
  div.container.mt-5
    form(action="" method="POST" class="password-change-form")
      h1.main-heading Password Change
      if errors 
        each error in errors
          div.alert.alert-danger= error.msg
      if error
        div.alert.alert-danger= error
      div(class="form-group")
        label(for="old_password") Old Password
        input(type="text" name="old_password" class="form-control")
      div(class="form-group")
        label(for="password") New Password
        input(type="text" name="password" placeholder="Password must be at least 6 characters long" class="form-control")
      div(class="form-group")
        label(for="password2") Password Confirmation
        input(type="text" name="password2" placeholder="Confirm password" class="form-control")
      div(class="form-group")  
        button(type="submit" class="btn btn-primary btn-block") Change Password