extends layout

block content
  div.container.h-75.center-content
    form(action="" method="post" class="delete-form")
      h1(class="main-heading") Delete Post
      div.post-card
        header.post-header
          h2.post-title= post.title
          h2.post-author Posted by You on #{post.niceDate}
        main.post-body
          p.post-content= post.content
      h2.sub-heading.mt-5.mb-3 Are you sure you want to delete this post?
      div.form-group.mw-50.center-content
        a(href="/" class="btn btn-primary btn-block") No I Love This Post!
        button(class="btn btn-warning btn-block" type="submit") Yes Delete This Trash!