extends layout

block content
  form(action="/posts/create" method="POST" class="form-control")
    h1(class="title")= title
    h1= currentUser.firstName
    div(class="form-group")
      label(for="title") Title
      input(type="text" name="title")
    div(class="form-group")
      label(for="content") Content
      textarea(name="content")
    div(class="form-group")  
      button(type="submit" class="button") Create Post