extends layout

block content
  div.container
    div.row.mt-3
      div.form-info.col-sm
        h1.info-title Connect with random strangers and talk some trash!
        ul.info-list
          li.info-list-item Sign up and create an account 
          li.info-list-item Apply for membership
          li.info-list-item See who's been talking about you!
      form(action="/users/signup" method="POST" class="signup-form col-sm")
        h2(class="title")= title
        if errors 
          each error in errors
            p(class="error")= error.msg 
        div(class="form-group")
          label(for="firstName") First Name
          input(class="form-control" type="text" name="first_name" required="true" value= first_name ? first_name : "")
        div(class="form-group")
          label(for="lastName") Last Name
          input(class="form-control" type="text" name="last_name" required="true" value= last_name ? last_name : "")
        div(class="form-group")
          label(for="email") Email
          input(class="form-control" type="text" name="email" placeholder="Email@example.com" required="true" value= email ? email : "")
        div(class="form-group")
          label(for="password") Password
          input(class="form-control" type="text" name="password" placeholder="Password must be at least 6 characters" required="true")
        div(class="form-group")
          label(for="password2") Confirm Password
          input(class="form-control" type="text" name="password2" placeholder="Confirm Password" required="true")
        div(class="form-group")  
          button(type="submit" class="btn btn-secondary btn-block") Sign Up!
