extends layout 

block content 
  div.container.mt-5
    h1.main-heading Confirm Deletion
    form(action="" method="post" class="delete-form")
      h2.sub-heading We would really hate to see you go...
      button.btn.btn-block.btn-primary On Second Thought...
      button.btn.btn-block.btn-secondary Do It! Delete ME!!