@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  background: #edf0f5;
  color: #222;
}

a {
  color: #00b7ff;
}

.content {
  padding-top: 3rem;
}

/* Main Nav */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0.5rem 10rem;
  background: #20232a;
}

.right-links {
  display: flex;
}

.main-title {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #e67e22;
  text-decoration: none;
}

.nav-link {
  padding: 0.5rem 1rem;
  color: #f4f4f5;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #e67e22;
}

.main-title:hover {
  color: #fff;
}

.new-post {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem 0.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
  background: #388e3c;
  color: #fff;
  text-decoration: none;
}

/* welcome mat */

.welcome-mat {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #282c34;
}

.welcome-heading {
  padding: 1rem;
  font-size: 2rem;
  color: #e67e22;
  font-weight: bolder;
}

.welcome-sub-heading {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.welcome-button {
  padding: 1rem;
  color: #000;
  background: #e67e22;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.welcome-button:hover {
  background: #fff;
}

.sub-header {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.welcome-footer {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #282c34;
}

/* forms */

.form-box {
  height: 75vh;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  margin: 3rem auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  padding: 1rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
  background: #fff;
}

.title {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.info-title {
  font-size: 2rem;
}

.info-list {
  padding: 1rem;
}

.info-list-item {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}

form label {
  font-size: 1rem;
  padding: 0.5rem;
}

form input {
  margin: 0 auto;
  width: 100%;
  font-size: 1rem;
  border: 0.1rem solid #aaa;
  padding: 0.5rem;
}

form textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  resize: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

form input:focus {
  background: #e8f5e9;
}

form button {
  width: 100%;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #388e3c;
  color: #fff;
  font-size: 1rem;
}

.not-user {
  padding: 0 0.5rem;
}

/* post stuff */

.post-box {
  padding: 1rem 10rem;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  background: #fff;
  overflow: hidden;
  margin: 0.5rem;
}

.post-header {
  padding: 0.5rem 1rem;
}

.post-author {
  font-size: 0.9rem;
  color: #999;
}

.post-body {
  padding: 1rem;
}

.post-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.post-content {
  font-size: 1rem;
}

.post-footer {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-top: 0.1rem solid #ccc;
}

.update-post,
.delete-post {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  padding: 0 1rem;
}

.update-post:hover,
.delete-post:hover {
  color: #000;
  text-decoration: underline;
}

/* Error stuff */

.error,
.success {
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}

.error {
  background: #ef9a9a;
}

.success {
  background: #a5d6a7;
}
