@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  background: #edf0f5;
  color: #222;
}

.main-heading {
  font-size: 1.6;
  font-weight: 700;
  text-align: center;
}

.sub-heading {
  font-size: 1.4;
  font-weight: 500;
  text-align: center;
}

.heading {
  font-size: 1.2;
  font-weight: 500;
  text-align: center;
}

.new-post {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem 0.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
  background: #388e3c;
  color: #fff;
  text-decoration: none;
}

/* welcome mat / new user greeting */

.welcome-mat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background: #282c34;
}

.welcome-heading {
  font-size: 3rem;
  color: #e67e22;
  font-weight: 700;
  text-align: center;
}

.welcome-sub-heading {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.welcome-img {
  height: 200px;
  width: auto;
  margin-left: 1.5rem;
}

.welcome-button {
  padding: 1rem;
  color: #000;
  background: #e67e22;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.welcome-button:hover {
  color: #000;
  background: #fff;
  text-decoration: none;
}

.welcome-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* post stuff */

.trio-content {
  text-align: center;
}

.post-box {
  display: grid;
  gap: 1rem;
}

.post-card {
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  background: #fff;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.5rem 1rem;
  border-bottom: 0.1rem solid #eee;
}

.post-title {
  font-size: 1.2rem;
}

.post-author {
  font-size: 1rem;
  color: #666;
}

.post-content {
  padding: 1rem;
}

.post-footer {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-top: 0.1rem solid #ccc;
}

.update-post,
.delete-post,
.last-updated {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  padding: 0 1rem;
}

.update-post:hover,
.delete-post:hover {
  color: #000;
  text-decoration: underline;
}

.delete-form {
  width: 75%;
}

.dont-delete,
.confirm-delete {
  width: 60%;
  padding: 0.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.dont-delete {
  padding: 0.75rem;
  color: #000;
  text-decoration: none;
}

.dont-delete:hover {
  background: #388e3c;
  color: #fff;
}

.confirm-delete {
  background: #ff0000;
}

/* Profile Stuff */

.profile-box {
  display: flex;
}

.profile-info {
  width: 33%;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-name {
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 0.1rem solid #ccc;
}

.profile-info-item {
  padding: 0.5rem;
}

.profile-info-button {
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  background: #ddd;
  color: #000;
  text-decoration: none;
}

.profile-info-button:hover {
  filter: brightness(80%);
}

.profile-posts {
  width: 66%;
  display: flex;
  flex-direction: column;
}

.no-posts {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

.main-footer {
  width: 100%;
  padding: 0.5rem;
  border-top: 0.1rem solid #aaa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-footer .nav-link {
  color: #666;
}

/* Error stuff */

.error,
.success {
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}

.error {
  background: #ef9a9a;
}

.success {
  background: #a5d6a7;
}

@media (max-width: 599px) {
  .post-box {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .post-box {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .post-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .post-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1800px) {
}
